<div class="panel panel-primary">
  <div class="panel-body">
      <div class="col-xs-12">
          <div class="row">
              <div class="col-xs-2">
                  <label class="control-label">From Date</label>
              </div>
              <div class="col-xs-2">
                  <input type="text" bsDatepicker class="form-control" />
              </div>
              <div class="col-xs-2">
                <label class="control-label">To Date</label>
            </div>
              <div class="col-xs-2">
                <input type="text" bsDatepicker class="form-control" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-2">
              <label class="control-label">Order No</label>
          </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" />
          </div>
              <div>
                  <input type="button" value="Search" class="btn btn-danger" />
              </div>
          </div>
      </div>
  </div>
</div>
