

<form #itemForm="ngForm" novalidate (ngSubmit)="onFormSubmit()">
  <div class="panel panel-primary">
      <div class="panel-heading ">

          <h3 class="panel-title">New Sub Category</h3>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label>Category <span>*</span></label>
          <select id="catalog" name="Catalog_ID" [(ngModel)]="Category.Catalog_ID" class="form-control" >
              <option *ngFor="let c of catalog" [value]="c.catalog_id">
                {{c.catalog_description}}
              </option>
          </select>
        </div>
          <div class="form-group">
              <label>Sub Category Name <span>*</span></label>
              <input type="text" class="form-control"
              id="Category_Description"
              name="Category_Description"
              [(ngModel)]="Category.Category_Description"
              required
              >
          </div>







      </div>




      <div class="panel-footer">
          <button class="btn btn-primary" [disabled]="itemForm.invalid">Submit</button>
          <button class="btn btn-danger" (click)="cancel()"  >Cancel</button>

      </div>

  </div>

</form>

<!-- <div class="form-group">

  <input id="dataofBirth" name="dataofBirth" type="text" [(ngModel)]="dataofBirth"  bsDatepicker   />

</div> -->
<!--  {{itemForm.value | json}}
 -->
